h1 {
  font-size: 24px;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img-container {
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 16/9;
  width: 100%;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
